
form {
    max-width: 400px;
    margin: 10;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Oblikovanje etiket in vnosnih polj */
  label {
    display: block;
    margin: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Oblikovanje gumba */
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  ul {
    list-style-type: none;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Mreža širine 3 */
    grid-gap: 20px; /* Prostor med elementi */
  }
  
  li {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 0;
  }